body{
    position: absolute;
    background-color: #FFE2E2;
    width:100%;
    height: 100%;
    font-family: Arial;
    background-image: url("https://i.imgur.com/CYuYg7D.jpeg");
    background-repeat: repeat;
    background-size: cover;
    overflow-x: hidden;
    padding-bottom: 100px;
}

/* COLOR PALETTE
#FFC7C7 - pink
#FFE2E2 - baby pink
#F6F6F6 - grey
#8785A2 - blue
*/

/*MAKE MODIFICATIONS TO THE NAV BAR*/
.msg{
    position: fixed;
    top: 500px;
    left: 270px;
    /*makes sure the nav bar overlaps the sidebar*/
    z-index: 1;
}
.msg img{
    background-color: transparent;
    padding: 110px 0px 50px 0px;
}

/*MAKE MODS TO THE SIDE BAR*/
.top{
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    background-color: #ffbfcd;
    padding: 25px 133px 25px 75px;
    color: white;
}

.sidebar{
    text-align: center;
    position: fixed;
    /*sidebar bg color*/
    background-color: #343149;
    /*sidebar text color*/
    color: white;
    padding: 100px 60px 20px 20px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    border-right: 3px solid #ffbfcd;
}
.sidebar img{
    border: 2px solid #FFC7C7;
}
nav ul{
    color: #e8e7f1;
    position: relative;
    top: 25px;
    font-size: 15px;
    text-align: left;
    padding: 15px 0px 0px 30px;
    z-index: 1;

    display: flex;
    flex-direction: row;
}
h3{
    padding: 0px 10px 0px 10px;

    background-color: transparent;
    margin: 0px 0px;
}
#hilite{
    margin: 4px 0px 0px;
    color: #deddea;
}
p{
    background-color: transparent;
}

.connect{
    padding: 300px 0px 0px 0px;
    bottom: 0px;

    display: flex;
    flex-direction: column;
}
nav i{
    padding: 2px 0px;
    text-decoration: none;

}

/*MAKE MODS TO THAT BIG BOX IN THE MIDDLE*/
.instruct{
    font-family:  monospace;
    position: relative;
    text-align: center;
    top: 0px;
    color: #8785A2;
    /*add x amount to final value in margin (315)
    top right bottom left
    */
    margin: 100px 200px 455px 515px;
    padding: 220px;
    background: rgba(234, 226, 226, 0.76);
    border: 2px solid #504d73;
    border-radius: 20px;
}
.instruct h3{
    margin: 10px 100px;
    background: transparent;
}
.porttitle{
    font-size: 100px;
    position: absolute;
    z-index: 2;
    color: white;
    left: 530px;
    top: 860px;
    text-shadow: 0 0 5px #504d73;
}
.portfolio{
    position: relative;
    margin: 0px;
    padding: 100px 100px 1500px 450px;
    height: 100%;
    /*top color: #FEF9F5 */
    background-image: linear-gradient(#000000 40%, #FFE2E2);
    z-index: -1;
}

.portfolio p{
    text-align: center;
    font-family: monospace;
    position: relative;
    z-index: 10;

    display: flex;
    flex-flow: row wrap;
}

#repos ul{
    flex: auto;
    position: relative;
    border: 1px solid #FFC7C7;
    border-radius: 2%;

    top: 10px;
    margin: 10px;
    padding: 150px 50px;
    background-color: rgb(246, 233, 233);
}

.resume{
    position: relative;
    color: #8785A2;
    padding: 300px 0px;
    background-color: #FEE1E1;
    /*border: 2px solid black;*/
    z-index: -1;
}
.resume p {
    position: relative;
    font-family: Arial;
    font-size: 50px;
    font-weight: bold;
    margin: 0px 0px 0px 625px;
}
.resume img{
    position: relative;
    margin: 0px 0px 0px 200px;
}

#copy{
    position: relative;
}

footer{
    text-align: center;
    font-family: monospace;
    font-size: 12px;
    z-index: -1;
    left: 0px;
    bottom: 0px;
    border-top: 2px solid #594a7c;
    background-color: #1e1c2c;
    color: white;
    padding: 0px 0px 0px 250px;
}
