body{
    position: absolute;
    background-color: #FFE2E2;
    width:100%;
    height:100%;
    position: absolute;
    margin: 0;
    font-family: Arial;
    background-image: url("https://i.imgur.com/CYuYg7D.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;

}

/* COLOR PALETTE
#FFC7C7 - pink
#FFE2E2 - baby pink
#F6F6F6 - grey
#8785A2 - blue
*/

/*MAKE MODIFICATIONS TO THE NAV BAR*/
.navbar{
    position: fixed;
    top: 500px;
    left: 270px;
    /*makes sure the nav bar overlaps the sidebar*/
    z-index: 1;
}
#homenav{
    background-color: transparent;
    padding: 110px 0px 50px 0px;
}

/*MAKE MODS TO THE SIDE BAR*/
.top{
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
}
#name{
    background-color: #FFC7C7;
    padding: 25px 128px 25px 100px;
}
.sidebar{
    text-align: center;
    position: fixed;
    /*sidebar bg color*/
    background-color: #343149;
    /*sidebar text color*/
    color: white;
    padding: 100px 60px 20px 20px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    border-right: 3px solid #FFC7C7;
}
#pfp{
    border: 2px solid #FFC7C7;
}
ul{
    color: #e8e7f1;
    position: relative;

    top: 25px;
    font-size: 15px;
    text-align: left;
    padding: 15px 0px 0px 30px;
    z-index: 1;
}
h3{
    padding: 0px 10px 0px 10px;

    background-color: transparent;
    margin: 0px 0px;
}
#hilite{
    margin: 4px 0px 0px;
    color: #deddea;
}
p{
    background-color: transparent;
}

.connect{
    padding: 300px 0px 0px 0px;
    bottom: 0px;
}
i{
    padding: 2px 0px;
    text-decoration: none;

}

i:hover{
    font-size:2em;
    transition: 1s ease-out;
}

/*MAKE MODS TO THAT BIG BOX IN THE MIDDLE*/
.instruct{
    font-family:  monospace;
    position: relative;
    text-align: center;
    top: 0px;
    color: #8785A2;
    /*add x amount to final value in margin (315)
    top right bottom left
    */
    margin: 100px 200px 450px 515px;
    padding: 220px;
    background: rgba(234, 226, 226, 0.76);
    border: 2px solid #504d73;
}
#inst{
    margin: 10px 100px;
    background: transparent;
}
.porttitle{
    font-size: 100px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: white;
    left: 530px;
    bottom: 0px;
    top: 860px;
    text-shadow: 0 0 5px #504d73;
}
.portfolio{
    position: relative;
    margin: 0px;
    padding: 1500px;
    /*top color: #FEF9F5 */
    background-image: linear-gradient(#000000 40%, #FFE2E2);
    z-index: -1;
}
.grid{
    display: grid;
    z-index: 2;
}
.resume{
    font-size: 80px;
    font-family: monospace;
    color: #8785A2;
    position: relative;
    margin: 10px 0px 450px 375px;
    padding: 20px;
    border: 2px solid black;
}
#copy{
    position: relative;
}

.footer{
    position: relative;
    text-align: center;
    font-size: 12px;
    z-index: 5;
    left: 0px;
    bottom: 0px;
    right: 0px;
    padding: 10px;
    border-top: 4px solid #120f1a;
    background-color: #1e1c2c;
    color: white;
}



