.sidebar{
    height: 100%;
    width: 350px; 
    position: fixed; 

    top: 0;
    left: 0;
    
    background-color: bisque;
}

img {
    max-height: 75%;
    max-width: 75%;
    margin: 45px 45px 45px 45px; 

}
